<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/campgrounds.css">

    <!-- country-region -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="gettext" type="application/x-po" href="/languages/en/LC_MESSAGES/en.po">
</head>

<body>
    <!-- wrapper of content and div-overlay -->
    <div class="wrapper">
        <!-- container of nav, main, footer -->
        <div class="content">
            <nav id="headerNav" class="navbar navbar-expand-md navbar-dark bg-dark">
                <div>
                    <span id="sidebarOpen" class="text-white"><i class="fas fa-align-left mr-2"></i></span>
                    <a href="/" class="navbar-brand">
                        YelpCamp
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/campgrounds">Campgrounds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/users">Campers</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <% if (currentUser) { %>
                        <li class="nav-item">
                            <a class="nav-link text-light"
                                href="/users/<%= currentUser._id %>"><%= currentUser.firstName %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/logout">Logout</a>
                        </li>
                        <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/register">Sign Up</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>

            <!-- container of sidebar and campgrounds list -->
            <main id="main-container" class="position-relative">

                <div class="sidebar pt-4">
                    <span class="dismiss">
                        <i class="fas fa-times"></i>
                    </span>
                    <div class="container">
                        <div class="mb-4 border-bottom pb-3">
                            <div class="mb-1 font-weight-bold">CREATE</div>
                            <a class="btn btn-light d-block w-100" href="/campgrounds/new" role="button">Create
                                Campground</a>
                        </div>
                        <div class="mb-3 border-bottom pb-3">
                            <div class="mb-1 font-weight-bold">SEARCH</div>
                            <form action="/campgrounds" method="GET">
                                <div class="input-group">
                                    <input class="form-control my-0 py-1" type="text" name="search"
                                        placeholder="name or description" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="input-group-text"><i class="fas fa-search text-grey"
                                                aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div class="mb-1 font-weight-bold">FILTER</div>
                            <form id="filterForm" action="/campgrounds/filter" method="GET">
                                <div class="form-group">
                                    <label for="inputMinPrice">Min. Price</label>
                                    <input class="form-control" type="number" id="inputMinPrice" name="minPrice"
                                        placeholder="$/night" min="1" step="0.01">
                                </div>

                                <div class="form-group">
                                    <label for="inputMaxPrice">Max. Price</label>
                                    <input class="form-control" type="number" id="inputMaxPrice" name="maxPrice"
                                        placeholder="$/night" min="1" step="0.01">
                                </div>

                                <div class="form-group">
                                    <label for="inputCountry">Country</label>
                                    <select class="form-control gds-cr" country-data-region-id="gds-cr-1"
                                        data-language="en" id="inputCountry" name="country"></select>
                                </div>

                                <div class="form-group">
                                    <label for="gds-cr-1">City</label>
                                    <select class="form-control" id="gds-cr-1" name="city"></select>
                                </div>

                                <input class="btn btn-light d-block w-100 mt-4" type="submit" value="Filter">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="content p-4">
                    <!-- flash messages -->
                    <div class="container my-4">
                        <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                        <% } %>
                        <% if (success && success.length > 0) { %>
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                        <% } %>
                    </div>

                    <!-- campgrounds list -->
                    <div class="container mt-4">

                        <div class="row">
                            <% campgrounds.forEach(campground => { %>
                            <div class="col-sm-6 col-md-4 mb-4 d-flex align-items-stretch">
                                <div class="card h-100">
                                    <img class="card-img-top img-fluid" src="<%= campground.image %>" alt="">

                                    <div class="card-body text-center">
                                        <h4 class="card-title"><%= campground.name %></h4>
                                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"> More
                                            Info</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="bg-dark text-light text-center py-2">
                <span>YelpCamp 2020</span>
            </footer>
        </div>

        <div class="div-overlay"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- country-region -->
    <script src="/scripts/geodatasource-cr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/scripts/Gettext.js"></script>
</body>

</html>