<%- include("../partials/header") %>

<div class="container">
    <h1 class="mb-3">
        <%= campground.name %>
    </h1>

    <div class="row">
        <div class="col-md-3 order-md-2 mb-4">
            <% if (currentUser && campground.author._id.equals(currentUser._id)) { %>
            <div class="mb-2">
                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>

            <div class="list-group">
                <li class="list-group-item">
                    <span class="d-block">Price</span>
                    <span class="font-weight-bold">$<%= Number(campground.price).toFixed(2) %>/night</span>
                </li>
                <li class="list-group-item">
                    <span class="d-block">Creator</span>
                    <span class="font-weight-bold">
                        <a href="/users/<%= campground.author._id %>">
                            <%= campground.author.firstName + " " + campground.author.lastName %>
                        </a>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="d-block">Phone</span>
                    <span class="font-weight-bold"><%= campground.contactPhone %> </span>
                </li>
                <li class="list-group-item">
                    <span class="d-block">Email</span>
                    <span class="font-weight-bold"><%= campground.contactEmail %> </span>
                </li>
            </div>
        </div>

        <div class="col-md-9 order-md-1">
            <div class="camp-card">
                <div class="card pb-3">
                    <img class="card-img" src="<%= campground.image %>" alt="camground image">
                    <div class="card-body">
                        <div class="card-text">
                            <%= campground.description %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-body bg-light my-4 comments-container">
                <% campground.comments.forEach(comment => { %>
                <div id="<%= comment._id %>" class="photo-comment-container border-bottom pb-1 mb-3 d-flex flex-row">
                    <div class="mr-2">
                        <img src="<%= comment.author.photo %>" alt="user photo" width="40" class="rounded-circle">
                    </div>

                    <div class="comment-container w-100">
                        <div class="comment-header">
                            <div class="font-weight-bold float-left">
                                <a href="/users/<%= comment.author._id %>">
                                    <%= comment.author.firstName + " " + comment.author.lastName %>
                                </a>
                            </div>
                            <% if (currentUser && comment.author.equals(currentUser._id)) { %>
                            <div class="float-right">

                                <button class="btn-edit-comment d-inline-block mr-1"
                                    data-campground-id="<%= campground._id %>" data-comment-id="<%= comment._id %>"> <i
                                        class="fas fa-edit"></i> </button>
                                <form class="d-inline-block"
                                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method="post">
                                    <button class="btn-delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                            <% } %>
                            <div class="float-none"> <br> </div>
                        </div>

                        <div class="comment-body"><%= comment.text %></div>
                    </div>
                </div>
                <% }) %>

                <form id="comment" action="/campgrounds/<%= campground._id %>/comments" method="post">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Add a new comment...">
                    <div class="float-right">
                        <input class="btn btn-success mt-2" type="submit" value="Comment">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>