<%- include("../partials/header") %>

<div class="container">
    <h1 class="mb-3">
        <%= campground.name %>
    </h1>

    <div class="row">
        <div class="col-md-3 order-md-2 mb-4">
            <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
            <div class="mb-2">
                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>

            <div class="list-group">
                <li class="list-group-item">
                    <span class="d-block">Price</span>
                    <span class="font-weight-bold">$<%= campground.price %>/night</span>
                </li>
                <li class="list-group-item">
                    <span class="d-block">Creator</span>
                    <span class="font-weight-bold"><%= campground.author.username %> </span>
                </li>
                <li class="list-group-item">
                    <span class="d-block">Phone</span>
                    <span class="font-weight-bold"><%= campground.contactPhone %> </span>
                </li>
                <li class="list-group-item">
                    <span class="d-block">Email</span>
                    <span class="font-weight-bold"><%= campground.contactEmail %> </span>
                </li>
            </div>
        </div>

        <div class="col-md-9 order-md-1">
            <div class="camp-card">
                <div class="card pb-3">
                    <img class="card-img" src="<%= campground.image %>" alt="camground image">
                    <div class="card-body">
                        <div class="card-text">
                            <%= campground.description %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-body bg-light my-4">
                <% campground.comments.forEach(comment => { %>
                <div class="border-bottom pb-1 mb-3">
                    <div>
                        <div class="font-weight-bold float-left"><%= comment.author.username %></div>

                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <div class="float-right">
                            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="post">
                                <button class="btn-delete-comment">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                        <% } %>

                        <div class="float-none"> <br> </div>
                    </div>

                    <div><%= comment.text %></div>
                </div>
                <% }) %>

                <textarea name="comment[text]" form="comment" cols="30" rows="2"
                    placeholder="Add a new comment..."></textarea>
                <div class="float-right">
                    <form id="comment" class="form-inline justify-content-end"
                        action="/campgrounds/<%= campground._id %>/comments" method="post">
                        <input class="btn btn-success mt-2" type="submit" value="Comment">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>