<%- include("../partials/header") %>

<div class="container">
    <div class="form-container">
        <form action="/users/<%= user._id %>?_method=PUT" method="post">
            <div class="form-group">
                <label for="inputFirstName">First Name *</label>
                <input class="form-control" id="inputFirstName" type="text" name="firstName" placeholder="First Name"
                    value="<%= user.firstName %>" required>
            </div>

            <div class="form-group">
                <label for="inputLastName">Last Name *</label>
                <input class="form-control" id="inputLastName" type="text" name="lastName" placeholder="Last Name"
                    value="<%= user.lastName %>" required>
            </div>

            <div class="form-group">
                <label for="inputUsername">Username *</label>
                <input class="form-control" id="inputUsername" type="text" name="username" placeholder="username"
                    value="<%= user.username %>" required>
            </div>

            <div class="form-group">
                <label for="inputPhoto">Profile Photo</label>
                <% if (user.photo === "/default_photos/profile-photo.png") { %>
                <input class="form-control" id="inputPhoto" type="text" name="photo" placeholder="Photo URL"
                    value="">
                <% } else { %>
                <input class="form-control" id="inputPhoto" type="text" name="photo" placeholder="Profile Photo"
                    value="<%= user.photo %>">
                <% } %>
            </div>

            <div class="form-inline">
                <input class="btn btn-primary mr-2" type="submit" value="Save">
                <a class="btn btn-secondary" href="/users/<%= user._id %>">Cancel</a>
            </div>
        </form>

        <div class="mt-4">
            <h5 class="border-bottom pb-2">Delete Account</h5>
            <p>This will delete your account permanently and will delete all your created campgrounds.</p>
            <form action="/users/<%= user._id %>?_method=DELETE" method="post">
                <input id="deleteUser" class="btn btn-danger" type="submit" value="DELETE MY ACCOUNT">
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>