<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <% users.forEach(user => { %>
        <div class="col-lg-6">
            <div class="card-user">
                <div class="card flex-row m-2">
                    <img class="card-img img-fluid" src="<%= user.photo %>" alt="user photo">
                    
                    <div class="card-body">
                        <a href="users/<%= user.id %>">
                            <h5><%= user.firstName + " " + user.lastName %></h5>
                        </a>
                        <% if (usersCampgrounds[user._id]) { %>
                        <span><%= usersCampgrounds[user._id] %>
                            <%= usersCampgrounds[user._id] === 1 ? "campground" : "campgrounds" %> </span>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include("../partials/footer") %>